
<div class="container" *ngIf="pokemonList">
  <div class="row">
    <div class="col m4 s6" *ngFor="let pokemon of pokemonList" >
      <div class="card horizontal" appBorderCard="red" (click)="goToPokemon(pokemon)">
        <div class="card-image">
          <img [src]="pokemon.picture" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ pokemon.id }}</p>
            <p>{{ pokemon.name }}</p>
            <p>{{ pokemon.created | date:"dd/MM/YYYY" | uppercase }}</p>
            <p>
            <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">
              {{ type }}
            </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>